* {
    /*selector universal, quita el margin y el padding de toda la pagina*/
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;/*ocupa el 100% de la pantaña del navegador*/
    background-image: url('fondoo2.jpg');
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.grid-container {
    display: grid;/*el display es como se muestra en el navegador, el grid es una forma de maquetacion para ordenar los elementos de la pagina*/
    grid-template:/*trabaja en la dispocicion de los elementos, nececita de las areas para poder realizar la maquetacion*/
        "header header" 100px/*define la altura de la primera fila*/
        "aside article" auto/*auto se refiere que ocupe la toda la altura sobrante*/
        "footer footer" 50px/ /*con la barra inclinada "/" le damos a enterder que ahora trabajaremos con el tamaño de las columnas */
        250px auto
    ;

}

.header {
    grid-area: header;/*definimos el nombre de la area, puede tener cualquier nombre*/
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    
}
.logo-container{
    padding: 15px 20px;
    display: flex;
    align-items: center; 
}
.logo-container img{
    margin-right: 10px;
}
h1{
    font-family:serif;
    color: white;
}

.aside {
    grid-area: aside;
    background-color:transparent;
}

.article {
    grid-area: article;
    background-color: transparent;
}

footer {
    grid-area: footer;
    background-color: rgba(51, 51, 51, 0.3);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    left: center;
    width: 100%;
}

nav {
    text-align: right;
    align-items: center;
    padding: 35px 20px;
}

nav ul li {
    display: inline;/* Hace que los elementos se muestren en línea */
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

aside ul li {
    margin-left: 40px;
    margin-top: 30px;
    display:block;
    margin-right: 20px;
}

aside ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}